cache/*
!cache/.ignore
log/*
!log/.ignore
config/databases.yml
config/propel.ini
config/buildtime-conf.xml
config/generated-*.xml
config/ProjectConfiguration.class.php
config/databases.yml
config/databases.yml.local
config/databases.yml.preprod
config/databases.yml.production
config/propel.ini
config/propel.ini.local
config/propel.ini.preprod
config/propel.ini.production
config/properties.ini
data/sql/*
!data/fixtures/.ignore
!data/sql/.ignore
data/*.lck
lib/filter/base/*
lib/form/base/*
lib/model/om/*
lib/model/map/*
web/uploads/*
web/frontend.php
web/frontend_*.php
web/*.html
web/sf*Plugin
web/.htaccess.*
