cache/*
!cache/.ignore
apps/frontend/config/app.yml
apps/frontend/config/app.yml.preprod
apps/frontend/config/app.yml.local
apps/frontend/config/app.yml.production
apps/frontend/config/frontendConfiguration.class.php
apps/frontend/config/settings.yml
apps/frontend/config/filters.yml
config/databases.yml
config/propel.ini
config/buildtime-conf.xml
config/generated-*.xml
config/ProjectConfiguration.class.php
config/databases.yml
config/databases.yml.local
config/databases.yml.preprod
config/databases.yml.production
config/propel.ini
config/propel.ini.local
config/propel.ini.preprod
config/propel.ini.production
config/properties.ini
data/fixtures/*
data/sql/*
data/*.lck
!data/fixtures/.ignore
!data/sql/.ignore
lib/filter/base/*
lib/form/base/*
lib/model/om/*
lib/model/map/*
log/*
!log/.ignore
web/media/*
!web/media/.ignore
web/uploads/*
web/frontend.php
web/frontend_*.php
web/*.html
web/sf*Plugin
web/.htaccess.*
